.login-container{
    height: 100vh;
    background-image: url(../Img/back\ ground.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}
.login-container #login-form{
    height: 100%;
    background-color: transparent;
    width: 30%;
    padding: 40px 10px;
}
.login-container #login-header{
    font-size: 40px;
    color: #535353;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.form-action{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:768px){
    .login-form{
        width: 100%;
    }
}