*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input-wrapper input{
    padding: 10px 20px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    width: 100%;
    outline: none;
}
.input-wrapper{
    margin-bottom: 10px;
}
.btn{
    padding: 8px 20px;
    background-image: linear-gradient(rgb(128, 0, 0), rgb(255, 204, 255));
    color: white;
    border-radius: 3px;
    border-width: 1px;
    border: none;
}
.cursor-pointer{
    cursor: pointer;
}
.error{
    color: red;
}
.btn-bg-light{
    background: transparent;
    color: #333333;
}
.mt-1{
    margin-top: 1rem !important;
}